body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #111111;
  color: #ffffff;
}

/* Navigation Bar Placeholder */
.navbar-placeholder {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  padding: 10px;
  cursor: pointer;
  transition: none; /* Remove opacity transition */
  opacity: 0;
}

body:hover .navbar-placeholder {
  opacity: 1;
}

/* Navigation Bar */
.navbar {
  padding: 15px 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.navbar-displayed .navbar-placeholder {
  display: none;
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  transition: none; /* Remove opacity transition */
  opacity: 0;
}

.navbar:hover .navbar-container {
  opacity: 1;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.navbar a:hover {
  transform: scale(1.1);
}

/* Hero Section */
.hero {
  position: relative;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(rgba(17, 17, 17, 0.5), rgba(17, 17, 17, 0.5)), url('path/to/your/image.jpg');
  background-size: cover;
  background-position: center;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

.hero-content {
  text-align: center;
  z-index: 1;
}

.hero h1 {
  font-size: 2.5em;
  font-weight: bold;
  color: white;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background: transparent;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid white;
  transition: all 0.15s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.cta-button:hover {
  background: white;
  color: #111111;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Compartmentalized Content - Card */
.content-card {
  padding: 2px 0;
  background-color: #161616;
}

.card-container {
  display: flex;
  flex-wrap: wrap; /* Allows cards to wrap to the next line */
  justify-content: space-between; /* Distributes cards evenly with space at the sides */
}

.card {
  flex: 0 0 auto; /* Makes cards shrink to content, grow to available space */
  max-width: 90%;  /* Sets a maximum width for each card */
  margin: 10px auto; /* Centers cards horizontally with each row */
  background-color: #1a1a1a;
  padding: 14px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.card h2 {
  color: #ffffff;
}

/* Footer */
.footer {
  background-color: #212121;
  color: white;
  text-align: center;
  padding: 15px 0;
}

.portrait-img {
  width: 40%;
  height: 100px; /* Set a fixed height for the images */
  object-fit: cover;
  border-radius: 10%;
}
