body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(-45deg, #000000, rgb(12, 12, 12));
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: #ffffff;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Navigation Bar Placeholder */
.navbar-placeholder {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  padding: 10px;
  cursor: pointer;
  transition: opacity 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
  opacity: 1; /* Change this from 0 to 1 */
}

/* Navigation Bar */
.navbar {
  padding: 15px 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.navbar-displayed .navbar-placeholder {
  display: none;
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  transition: opacity 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
  opacity: 0;
}

.navbar:hover .navbar-container {
  opacity: 1;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.navbar a:hover {
  transform: scale(1.1);
}

/* Hero Section */
.hero {
  position: relative;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

.hero-content {
  text-align: center;
  z-index: 1;
}

.hero h1 {
  font-size: 2.5em;
  font-weight: bold;
  color: white;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background: transparent;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid white;
  transition: all 0.15s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.cta-button:hover {
  background: white;
  color: #111111;
  transform: translateY(-3px);
}

/* Compartmentalized Content - Card */
.content-card {
  padding: 2px 0;
  background-color: #16161625;
}

.card-container {
  background: none;
  display: flex;
  flex-wrap: wrap; /* Allows cards to wrap to the next line */
  justify-content: space-between; /* Distributes cards evenly with space at the sides */
}

.card {
  flex: 0 0 auto; /* Makes cards shrink to content, grow to available space */
  max-width: 90%;  /* Sets a maximum width for each card */
  margin: 10px auto; /* Centers cards horizontally with each row */
  background-color: #111111;
  padding: 14px;
  border-radius: 5px;
  border: #ffffff07 2px solid;
}

.card h2 {
  color: #ffffff;
}

/* Footer */
.footer {
  background-color: #212121;
  color: white;
  text-align: center;
  padding: 15px 0;
}

.portrait-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 30%;
}

/* Hero text Animations */

.hero-text {
  position: relative;
  animation: textIntro 4s ease-out both;
}

.hero-text::before,
.hero-text::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  -webkit-text-stroke: 0.3px #ffffff;
  opacity: 1; /* Start with opacity 0 */
}

.hero-text::before {
  animation: textIntroBefore 2s ease-out both;
}

.hero-text::after {
  animation: textIntroAfter 2s ease-out both;
}

@keyframes textIntro {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes textIntroBefore {
  100% {
    transform: translate(0px , -15px);
    opacity: 0.2; 
  }
  0% {
    transform: translate(0px, 0px);
    opacity: 0.9;
  }
}

@keyframes textIntroAfter {
  100% {
    transform: translate(0px , 15px);
    opacity: 0.2; 
  }
  0% {
    transform: translate(0px, 0px);
    opacity: 0.9; 
  }
}